html, body
{
	height : 100%;
	overflow : hidden;
}

#MainBackground
{
	background-image : url(../src/background.jpg);
	background-repeat : no-repeat;
	background-attachment : fixed;
	background-position : 50% 50%;
	background-size : cover;
}

.LeftBar
{
	background-color : rgba(255, 255, 255, .5);
	top : 5%;
	width : 15px;
	height : 95%;
	transition : 0.4s;
	justify-content : center;
	align-items : center;
}

.HPic
{
	width : 0px;
	height : 0px;
	tranistion : 1.5s;
	border-radius : 50%;
	justify-content: center;
	align-items: center;
	position : relative;
	left : 17%;
	top : 10px;
}

.MyName
{
	width : 0px;
	height : 0px;
	transition : 0.01s;
	visibility : hidden;
}

.BackToHomepage
{
	background-color : rgba(255, 255, 255, .5);
	visibility : hidden;
	color : saddlebrown;
}

.LeftBar:hover
{
	width : 150px;
}

.LeftBar:hover > .HPic
{
	width : 100px;
	height : 100px;
}

.LeftBar:hover > .MyName
{
	width : 100px;
	height : 100px;
	visibility : visible;
	position : relative;
	top : 10px;
	left : 35%;
	font-size : x-large;
	color : ghostwhite;
}

.LeftBar:hover > .BackToHomepage
{
	visibility : visible;
	top : 10px;
	left : 35%;
}